*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  max-width: 1320px;
  margin: 0 auto;
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 140px;
  padding-top: 20px;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav__heding .peddy {
  font-size: 32px;
  font-weight: bold;
}
.nav__menu_tow {
  position: fixed;
  top: 50px;
  left: 30px;
  background-color: #0e79811f;
  backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 20px;
  width: 140px;
  height: 150px;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease-in;
}

.show {
  opacity: 1;
  transform: scale(1);
}

.nav__menu_tow ul li {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
  color: #5a5a5a;
}

.nav__menu_tow ul li:hover {
  color: black;
}

.menu__close__btn {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
}
.menu__close__btn svg {
  width: 100%;
  fill: #5a5a5a;
}
.menu__close__btn svg:active {
  fill: red;
}

.nav__menu ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav__menu ul li {
  list-style: none;
  font-size: 16px;
  color: #5a5a5a;
}

.user__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  border: 1px solid #cfe4e6;
  border-radius: 50%;
}

.user__icon svg {
  height: 24px;
  width: 24px;
}

/* <!-- -------------- Banner Section-------------- --> */

.banner__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__text__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__text__box h4 {
  font-size: 24px;
  font-weight: bold;
  color: #717171;
}

.banner__text__box h2 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 25px;
  text-align: center;
}
.banner__button__box .banner__button {
  padding: 16px 32px;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #0e7a81;
  color: #0e7a81;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}
.banner__button:active {
  background: #0e7a81;
  color: #fff;
}

.banner__text__box p {
  font-size: 16px;
  margin-bottom: 32px;
  text-align: center;
  padding-right: 65px;
}
.cantagory__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border: 1.5px solid #dbebec;
  border-radius: 16px;
  cursor: pointer;
}
.cantagory__button img {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.cantagory__button p {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
}

.active {
  border: 1.5px solid #0e7a81;
  border-radius: 120px;
  background: #e7f2f2;
}

.category__btn__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-bottom: 32px;
}
.bar__icon {
  display: none;
}

/* <!----------Adopt Your Best Friend Section--------------> */

.loader__container{
  width: 100%;
  height: 430px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  grid-column: span 3;
}

.loder{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 9px solid transparent;
  border-top-color: #5a5a5a;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  animation: spin .5s linear infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}





.h3 {
  font-size: 24px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}
.adopt__your__best__friend__section__box {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 200px;
}

.left__side__card__box {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.card__box {
  margin-top: 25px;
  padding: 20px;
  border: 1.5px solid #e7e7e7;
  border-radius: 12px;
}

.card__img__box {
  width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}
.card__img__box img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  transition: 0.5s ease;
  object-fit: cover;
}

.card__img__box img:hover {
  transform: scale(1.2);
}

.card__contant__main__box {
  margin-top: 24px;
}
.card__contant__box h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.card__contant__details__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card__contant__details__box .card__contant__icon {
  max-width: 20px;
  max-height: 20px;
  margin-bottom: 8px;
}
.card__contant__details__box .card__contant__icon svg {
  width: 100%;
  fill: #5a5a5a;
}

.card__contant__details__box .card__contant__text p {
  font-size: 16px;
  color: #5a5a5a;
  padding-bottom: 10px;
}
.card__button_box {
  border-top: 1px solid #e7e7e7;
  margin-top: 16px;
  padding-top: 16px;
}
.card__button_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.btn {
  border: 1px solid #dbebec;
  border-radius: 8px;
  padding: 8px 16px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}
.btn:active {
  background-color: #0e7a81;
  color: #fff;
}

.like__button {
  width: 60px;
  height: 36px;
  padding: 5px 15px;
  fill: #5a5a5a;
}
.like__button:active {
  background: #0e7a81;
  fill: #fff;
}

.adopt__button {
  color: #0e7a81;
}

.details__button {
  color: #0e7a81;
}

.right__side__like__box__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 20px;
  width: 100%;
  margin-top: 25px;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  min-height: 450px;
  align-content: start;
}

/* .right__side__like__box__section div{
  height: 124px;

} */

.liked__image {
  overflow: hidden;
  border-radius: 12px;
}

.liked__image img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
  object-position: center;
}
.liked__image img:hover {
  transform: scale(1.2);
}
.hedding4 {
  grid-column: span 2;
  font-size: 18px;
  color: #585858;
}

.no__imformaniton__box {
  background-color: #f8f8f8;
  border-radius: 24px;
  grid-column: span 3;
  text-align: center;
  padding: 90px 0;
  margin-top: 25px;
}
.no__imformaniton__box h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
}
.no__imformaniton__box p {
  font-size: 16px;
  font-weight: 400;
  max-width: 760px;
  color: #585858;
  margin: 0 auto;
  margin-top: 16px;
}

.displayDetails {
  grid-column: span 4;
  display: none;
}

.foter__section {
  background: black;
  width: 100%;
  padding: 100px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f__icon {
  display: flex;
}
.f__icon h3 {
  color: white;
  padding-left: 8px;
}
.list__item ul {
  padding-top: 24px;
  padding-bottom: 20px;
}

.list__item ul li {
  font-size: 16px;
  color: #e7e7e7;
  list-style: none;
  padding-bottom: 8px;
}

.social__icon img {
  margin-right: 8px;
}

.futer__menu p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 32px;
}

.futer__menu ul li {
  color: #a1a1a1;
  font-size: 16px;
  margin-bottom: 8px;
  list-style: none;
}
.futoer__input {
  width: 240px;
  margin-bottom: 30px;
}
.futoer__input p {
  color: white;
  margin-bottom: 32px;
}
.futoer__input input {
  padding: 15px 17px;
  width: 100%;
  border-radius: 12px;
  background-color: #1f1f1f;
  font-size: 16px;
  border: 0;
  margin-bottom: 16px;
}

.futoer__input button {
  width: 100%;
  background-color: #0e7a81;
  padding: 12px 0;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  border: 0;
}

@media (max-width: 1380px) {
  .category__btn__container {
    padding: 20px;
  }
  .adopt__your__best__friend__section__box {
    padding: 0 20px;
  }
}
@media (max-width: 1280px) {
  .banner__text__box h2 {
    font-size: 50px;
  }
  .banner__text__box h4 {
    font-size: 20px;
  }
  .nav__bar {
    padding-bottom: 15px;
  }
  .banner__button__box .banner__button {
    padding: 10px 20px;
    font-size: 15px;
  }
  .banner__img__box img {
    width: 720px;
  }
  .adopt__secton .h3 {
    text-align: center;
    padding-bottom: 0;
    margin-top: 20px;
  }
  .left__side__card__box {
    grid-column: span 4;
    margin: 0 auto;
    padding: 0 20px;
  }
  .right__side__like__box__section {
    grid-column: span 4;
    margin: 0 auto;
  }
  .right__side__like__box__section {
    grid-template-columns: repeat(4, 1fr);
  }
  .loader__container{
    grid-column: span 4;
  }
}

@media (max-width: 967px) {
  .left__side__card__box {
    grid-template-columns: repeat(2, 1fr);
  }
  .right__side__like__box__section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .nav__bar {
    padding: 10px;
  }
  .nav__logo {
    gap: 10px;
  }
  .nav__menu {
    display: none;
  }
  .user__icon {
    height: 40px;
    width: 40px;
  }
  .user__icon svg {
    height: 15px;
    width: 15px;
  }
  .nav__heding .peddy {
    font-size: 20px;
  }
  .nav__img img {
    width: 100%;
    height: 100%;
  }
  .banner__img__box img {
    height: auto;
    width: 420px;
  }
  .banner__text__box h2 {
    font-size: 35px;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .banner__text__box p {
    padding: 0 15px;
    font-size: 15px;
  }
  .banner__text__box h4 {
    font-size: 18px;
    margin-top: 30px;
  }
  .banner__button__box .banner__button {
    padding: 10px 15px;
    font-size: 15px;
  }
  .cantagory__button {
    padding: 10px;
    gap: 5px;
  }
  .category__btn__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .bar__icon {
    display: block;
    width: 30px;
  }
  .left__side__card__box {
    grid-template-columns: repeat(1, 1fr);
  }
  .adopt__your__best__friend__section__box {
    padding: 0 15px;
    margin-top: 0px;
  }

  .adopt__secton .h3 {
    text-align: center;
    padding-bottom: 0;
    margin-top: 20px;
  }
  .left__side__card__box {
    grid-column: span 4;
    margin: 0 auto;
  }
  .right__side__like__box__section {
    grid-column: span 4;
    margin: 0 auto;
  }
  .no__imformaniton__box h3 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 5px;
  }
  .no__imformaniton__box {
    padding: 80px 0;
    margin-top: 15px;
  }
  .right__side__like__box__section {
    grid-template-columns: repeat(2, 1fr);
  }
  .foter__section {
    flex-direction: column;
    padding: 30px 40px;
  }
  .futer__menu{
    width: 100%;
    padding: 50px 0;
  }
  .futoer__input{
    width: 100%;
  }
  .loader__container{
    grid-column: span 4;
  }
  
}
